<div class="ui one column grid">
  <div class="column">

    <div class="ui segment">

      <h1 class="ui center aligned header">
        Select Days
        <div class="sub header">Hi <h4 class ='ui center aligned  dividing header'>{{username}}</h4> Please Select the Days You would Like to Work</div>
      </h1>

    </div>
  </div>
</div>

<div class="ui container">

  <form class="" action="/waiters/{{username}}"  method="post">

    <div class="ui seven column centered grid">
      <div class="row">
        {{!-- {{#each foundUser}} --}}
        {{#each days}}

          <div class="column">

            <div class="ui checkbox">
              <input type="checkbox" name="dayName" 
              {{checked}} 
              value='{{day_name}}'>
              <label>{{day_name}}</label>
            </div>
          </div>

        {{/each}}
        {{!-- {{/each}} --}}
      </div>
  <div class="column">
        <button class="ui button" type="submit">Submit</button>

      </div>
     
      
     {{!-- <div class="column">
      <a href="/"><i class="sign out alternate icon">Sign Out</i></a>                            

      </div> --}}


</div>

</div>
</form>

</div>
